@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-color: #000000;
}

#section-cadastro
{
    background-color: #1b1b1b;
    margin-top: 110px;
    padding-bottom: 10px;
    padding-top: 40px;
}

#section-cadastro h3
{
    color: white;
}

#section-cadastro label
{
    font-size: 16px;
    color: rgba(199, 199, 199, 0.829);
}

#section-cadastro input
{
    border: 2px solid white;
    background-color: transparent;
    height: 35px;
    color: white;
}

.btn-form
{
    background-color: #00d8caee;
    color: white;
    border: 3px solid #00d8c9;
    border-radius: 1px;
    height: 50px;
    width: 130px;
    font-weight: 600;
}

.btn-form:hover
{
    border-color: #00d8c9;
    background-color: #02050e;
}